.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  
}
.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}
.fonts{
    font-size:small ;
    font-weight: bold;
    color: rgb(177, 175, 175);
}
.fontss{
    font-weight: bold;
    color: gray;
}
.header{
    background-image: url('../Assets/bg.png');
    padding-bottom: 150px;
    padding-top: 5px; 
}
nav{
    display: flex;
    color: midnightblue;
    align-items: center;
    justify-content: space-between;
    padding-right: 150px;
    padding-left: 150px;
}
.nav-title{
    font-weight: bold;
    color: #4E47FF;
    font-size: 34px;
    
}
.btn-primary {
    background-color: #4E47FF;
    font-weight: bold;
    color: white;
    padding: 12px 36px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    cursor: pointer;
}
.btn-primary:hover{
    background-color: goldenrod;
}
.banner{
    text-align: center;
    color: #252432;
}
p{
    font-weight: bold;
    font-size: 65px;
    font-style: raleway;
    padding-top: 150px;
}
.action{
    max-width: 403px;
    height: 328px;
    border-radius: 48px;
}
.actionflex{
    display: flex;
    justify-content: space-between;
    max-width: 1140px;
    height: 328px;
    padding: 150px 150px 150px 150px;
}
.ahead{
    font-weight: bold;
    font-size: 42px;
    color: #252432;
}
.abody{
    font-weight: 600;
    font-size: 24px;
    color: grey ;

}
.headd{
    font-weight: bold;
    font-size: 38px;
    padding-top: 50px;
    
}
.third{
    text-align: center;
    justify-items: center;
    background-color: #d8d6f9;
    border-radius: 24px;
    max-width: 1140px;
    max-height: 328px;
    margin-left: 150px;
    
    
}
.column{
    display: flex;
    list-style: none;
    font-size: 80px;
    font-weight: bolder;
    color:#4E47FF ;
    gap: 158px;
    margin-top: 40px;
    
}
.lable{
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
    font-weight: 40px;
    color: gray;
    list-style: none;
}
.reviews{
    text-align: center;
    max-width: 1140px;
    max-height: 328px;
    padding-left: 100px;
}
.headline{ 
     font-size: 42px; 
     text-align: left; 
    padding-left: 70px;
    margin-top: 5px;
} 
.line{
    list-style: none;
    align-items: start;
}
.inline{
    text-align: left;
    font-weight: 400;
}
.avater{
    /* height: 40px; */
    /* width: 40px; */
    border-radius: 50x;
    list-style: none;
    padding-left: 0px;
    padding-right: 10px;
}
.picline{
    display: flex;
    text-align: left;
    max-width: 192px;
    max-height: 46px;
}
.mega{
    list-style: none;
    display: flex;
    justify-content: space-between;
    
}
.back{
    background-color: aliceblue;
    border-radius: 26px;
    padding: 24px 24px;
    column-gap: 5px;
    text-align: left;
}
.bonus{
    background-color:#f0f8ff ;
    text-align: center;
    justify-items: center;
    border-radius: 24px;
    max-width: 1140px;
    /* max-height: 328px; */
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 150px;
    margin-top: 150px;
    margin-block: 300px;
}
.btext{
    text-align: center;
    justify-content: center;
    font-size: 50px;
    font-weight: bold;   
}
.bbtext{
    color: rgb(169, 168, 168);
}
.img{
    max-width: 840px;
    max-height: 364.77px;
    border-radius: 48px;
}
.left{
    text-align: left;
    font-weight: bold;
    font-size: 50px;
    
}
.bg{
    background-color: aliceblue;
}
.padding{
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 100px;
 }
 .box{
    width: 400px;
    border: 1px solid #d1d1d3;
    border-radius: 10px;
    padding-left: 20px;
 }
 .footer{
    padding-top: 104px;
    padding-bottom: 104px;
    padding-right: 350px;
    padding-left: 350px;
    text-align: center;
 }
.link {
    text-decoration: none;
    color: #9a9a9c;
    padding-right: 30px;
 }